
body{
    background-color: white
}

#container{
    position: relative;
    width: 100%;
    

}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ddd;
    padding: 1%;
}
p{
   font-family: 'Times New Roman', Times, serif;
}
.text{
   
    padding: 3%;
}

.descripcion{
    background-color: aliceblue;
}
.imagen{
    float: left;
    width:20%;
}